.container {
   
  margin-top: 200px;
  align-items: center;
  text-align: center;
}

.btn {
    color: white;
    background-color: rgb(67, 193, 225);
    border: none;
   border-radius: 10px;
    width: 100px;
    height: 60px;
    font-size: 20px;
    text-align: center;
}